{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Delete Customer{% endblock title %}

{% block content %}
<h2 class="deleteTitle">Delete Customer</h2>
<div class="deleteOrder">
    <i class="fa fa-times-circle"></i>
    <h2>Are you sure?</h2>
    <p>Do you want to delete <strong>" {{customer}} "?</strong> This process cannot be undone.</p>
    <form action="{% url 'delete_customer' customer.id %}" method="POST">
        {% csrf_token %}

        <a href="{% url 'home' %}" class="cancelbtn">Cencel</a>
        <input type="submit" class="deletebtn" value="Delete">
    </form>
</div>
{% endblock content %}